
{%  extends 'base.html' %}

{% block section %}
    <section class="content-account">
        <div class="paper paper-account">
        <form method="post" style="width:100%">
            {% csrf_token %}
            <div class="content-row">
                <span class="title title-account">Nuevo Grupo</span>
            </div>
            <div class="content-row mt-2">
                <div class="content-clm1">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
            </div>
            <div class="content-row mt-2">
                <div class="content-clm1">
                    <button type="button" class="btn btn-account btn-primary">
                       <a href="{% url 'client:search_groups' %}">
                           Unirse a grupo
                       </a>
                    </button>
                    <button type="submit" class="btn btn-account btn-secondary">
                        Agregar nuevo
                    </button>
                </div>
            </div>
        </form>
    </div>
    </section>
{% endblock %}