
{# template to request group registration #}

{%  extends 'base.html' %}
{% load permissiontag %}
{# template to request group registration #}

{% block section %}
    <section class="content-account">
        <div class="paper paper-group">
            <form method="post">
                {% csrf_token %}
                <div class="content-row">
                    <span class="title title-account"> {{ group.name }}</span>
                </div>
                <div class="content-row">
                    <span class="text">Usuario: {{ user.username }}</span>
                </div>
                <div class="content-row">
                    <span class="text">El grupo debe terner ucuatro integrantes para solicitar un prestamo</span>
                </div>
                <div class="content-row">
                    <span class="text">CLIENTES</span>
                </div>
                <div class="content-row">
                    {% for item in group_list %}
                        <div class="content content-box">
                            <span class="text"> {{ item.username }}</span>
                            {% if item|check_permission:'coordinator' %}
                                <span class="text">Coordinador</span>
                            {% endif %}
                        </div>
                    {% empty %}
                    <div class="content content-box">
                        <span class="text">No se encontraron participantes</span>
                    </div>
                    {% endfor %}
                </div>
                <div class="content-row mt-2">
                    <span class="text">CUENTAS</span>
                </div>
                <div class="content-row">
                    {% for item in object_list %}
                        <div class="content content-box">
                            <a href="{% url 'account:calendar' item.id %}">
                                <span class="text"> {{ item.amount }} - {{ item.status }}</span>
                            </a>
                        </div>
                    {% empty %}
                    <div class="content content-box">
                        <span class="text">Aun no tienen cuentas</span>
                    </div>
                    {% endfor %}
                </div>

                {% if not member %}
                <div class="content-row mt-2">
                    <div class="content-clm1 mt-1">
                        <button type="submit" class="btn btn-account btn-secondary">
                            Unirte al grupo
                        </button>
                    </div>
                </div>
                {% endif %}
                {% if new_account %}
                <div class="content-row mt-2">
                    <div class="content-clm1 mt-1">
                        <button type="button" class="btn btn-account btn-primary">
                            <a href="{% url 'account:new_account' group.id  %}">Solicitar Prestamo</a>
                        </button>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </section>
{% endblock %}